.root {
	-poe-ninja-background-color: rgba(29, 38, 47, 255);
	-google-darkmode-background-color: #4b4b4b;
	-material-design-darkmode-background-color: #121212;

	/* initial value to load the app correctly */
 	-app-color: #E1F5FE;
 	
 	-fx-base: -app-color;
}
