.root {
	-poe-ninja-background-color: rgba(29, 38, 47, 255);
	-google-darkmode-background-color: #4b4b4b;
	-material-design-darkmode-background-color: #121212;

	/* 	-fx-base: -poe-ninja-background-color; */
	/* 	-fx-base: -material-design-darkmode-background-color; */
	/* 	-fx-base: -google-darkmode-background-color; */

	/* 	-fx-text-background-color: white; */

	/* 	-fx-light-text-color: black; */
	/* 	-fx-mid-text-color: white; */
	/* 	-fx-dark-text-color: white; */
}